<!DOCTYPE html>
{% extends 'base.html' %}
    {% block main %}
                {% if error_msg %}
                    <p>{{error_msg}}</p>
                {% endif%}
                {% for article in article_list %}
                <article class="post post-{{article.pk}}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="/index/{{article.pk}}">{{ article.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ article.created_time }}">{{ article.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">强</a></span>
                            <span class="comments-link"><a href="#">{{article.comment_set.count}} 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ article.body }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="/index/{{article.pk}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% empty %}
                <div class="no post">暂时还没有发布文章!</div>
                {% endfor %}

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination">
                    {% if article_list.has_previous %}
                    <!--如果还有上一页，则显示上一页按钮-->
                        <a href="?page={{article_list.previous_page_number}}">上一页</a>
                    {% endif %}
                    <span class="current">
                        <!--显示当前页面信息-->
                        第{{ article_list.number }}页/共{{ article_list.paginator.num_pages }}页
                    </span>
                    {% if article_list.has_next %}
                    <!--如果还有下一页，则显示下一页按钮-->
                        <a href="?page={{article_list.next_page_number}}">下一页</a>
                    {% endif %}
                </div>
    {% endblock main %}
