<!DOCTYPE html>
{% extends 'base.html' %}
    {% block main %}
                {% if error_msg %}
                    <p>{{error_msg}}</p>
                {% endif%}
                {% for article in article_list %}
                <article class="post post-{{article.pk}}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="/index/{{article.pk}}">{{ article.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ article.created_time }}">{{ article.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">强</a></span>
                            <span class="comments-link"><a href="#">{{article.comment_set.count}} 评论</a></span>
                            <span class="views-count"><a href="#">{{article.views}}阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <!--truncatechars:54 表示截取前54个字符,可以采取链式过滤的方法-->
                        <p>{{ article.body |truncatechars:54 | safe }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="/index/{{article.pk}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% empty %}
                <div class="no post">暂时还没有发布文章!</div>
                {% endfor %}

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                {% if is_paginated %}
                <div class="pagination" >
                    <ul class="pager">
                    {% if first %}
                        <li><a href="?page=1">1</a></li>
                    {% endif %}
                    {% if left %}
                        {% if left_has_more %}
                            <li> <span>...</span></li>
                        {% endif %}
                        {% for i in left %}
                            <li> <a href="?page={{i}}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <a href="?page={{page_obj.number}}" style="color:red">{{page_obj.number}}</a>
                    {% if right %}
                        {% for i in right %}
                            <li><a href="?page={{i}}">{{ i }}</a></li>
                        {% endfor %}
                        {% if right_has_more %}
                            <span>...</span>
                        {% endif %}
                    {% endif %}
                    {% if last %}
                        <li><a href='?page={{ paginator.num_pages }}'>{{ paginator.num_pages }}</a></li>
                    {% endif %}
                    </ul>
                </div>
                {% endif %}
    {% endblock main %}
